@font-face {
    font-family: "poiret";
    src: url(/media/font/poiret/poiretone-regular-webfont.woff) format("woff"),
        url(/media/font/poiret/poiretone-regular-webfont.woff2) format("woff2"),
        url(/media/font/poiret/PoiretOne-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    box-sizing: inherit;
    --colo2: rgb(45, 45, 45);
    --coloclick: #fff;
}


* {
    box-sizing: border-box;
}

body,
body a {
    font-family: "poiret", Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}

span {
    font-style: italic;
    font-size: 0.6em;
}

/* suppression des formatages */
ul,
li,
a,
menu,
dl,
dt,
dd {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* réduction images pour travailler */

/* cacher les éléments .accessibility */
.accessibility {
    position: absolute;
    right: 3000px;
}

body {
    background-color: rgb(153, 180, 171);
    /* width: 100vw; */
}

/* header-- */
#logo {
    text-align: center;
}

#logo img {
    width: 40vw;
    max-width: 300px;
    border-radius: 50%;
}

menu {
    background-color: var(--colo2);
    border-radius: 15px;
}

menu a {
    display: block;
    text-align: center;
    padding: 10px;


    color: var(--coloclick);
    font-weight: bolder;
}


/* body-- */
main h1 {
    text-align: center;
    font-size: 2.3em;
}

#divmain {
    display: grid;
    gap: 20px;
}

h1 {
    font-weight: bold;
}

section {
    background-color: rgb(255, 255, 255);
    padding: 0 20px 20px;
    margin: 0 10px;
    border-radius: 15px;
}

/* liens clickables-- */
.click {
    background-color: var(--colo2);
    /* display: inline; */
    width: fit-content;
    padding: 5px;
    border-radius: 15px;
    margin: 10px auto;
}

.click a {
    color: var(--coloclick);
    font-weight: bolder;
}

address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-style: normal;
}

address span {
    font-size: 1rem;
    font-weight: bolder;
    font-style: normal;
}

#competence ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#competence li {
    padding: 10px;
}

#competence img {
    height: 20vw;
}

#centreint img {
    width: 10vw;
}

#centreint ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.cac {
    display: flex;
    justify-content: center;
    align-items: center;
}

menu :hover {
    box-shadow:0 0 20px #fff;
}