*{
    box-sizing: border-box;
}

/* police */

@font-face {
    font-family: 'promptblack';
    src: url('/media/font/prompt-black-webfont.woff2') format('woff2'),
         url('/media/font/prompt-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandlight';
    src: url('/media/font/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
         url('/media/font/quicksand-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



h1,h2,h3{
    color:black; 
    font-family: 'promptblack';
}

h1{
    font-size:30px;
    /* font-weight:bold; */
    /* padding:10px; */
}

h2{
    font-size:23px;
    font-weight:bold;
}

.bold{
    font-weight:bold;
}

/* mise en italic */
span:not(.h3){
    font-style:italic;
    /* padding:20px 0 20px 0; */
    margin:10px 0 10px 0;
    /* background-color:aqua; */
}

.h3{
    font-size:18px;
    font-weight:bold;
}

dt{
    color:#290e0e;
}


/* taille d'images */

img{
    width:50px;
}

img[src*="html"]{
    width:100px;
}

img[src*="css"]{
    width:73px;
}

img[src*="java"]{
    width:80px;
}

img[src*="php"]{
    width:130px;
}

img[src*="mysql"]{
    width:200px;
}

/* couleur de fond pour mieurx visualiser mes élémentes */

body{
    background-color:#3a3a3a;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    font-family: 'quicksandlight';
}

/* video dimensionner à l'écran */

video{
    width:85vw;
}

/* centrage contenant */

.centragex{
    text-align:center;
    margin-top:20px;
}

.centragey{
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    margin-top: 0;
    /* background-color:aqua; */
}

address{
    /* background-color:bisque; */
}

/* mise en row menu */

menu{
    display:flex;
}

main{
    display:flex;
    flex-direction:column;
    align-items: center;
}

/* couleur de fond pour les section pour mieux les visualiser */

section{
    background-color:#c5bebe;
    margin:20px 5px 20px 5px;
    padding:10px;
}

/* fond pour les div soussection */

.soussection{
    background-color:rgb(255, 255, 255);
    padding:10px
}

section, .soussection{
    border-radius:15px;
}

/* dans présentation côte à côte coordonées langue permis */

.cac{
    display:flex;
    align-items:flex-start;
    justify-content:space-around;
    /* align-items:center; */
    /* background-color:blue; */
}

.alignimg{
    display:flex;
    align-items:flex-start;
    justify-content:space-around;
    align-items:center;
    flex-wrap: wrap;
    /* background-color:blue; */
}

.alignimg li{
    padding:40px;
}
/* espace entre les différentes sous sections */
div, ul{
    margin-top:20px;
}

dt{
    margin:20px 0 10px 0;
    text-height:50px;
}

li{
    margin:10px 0 10px 0;
}

/* centrage lien */

.liencentre{
    text-align:center;
    margin:10px 0 10px 0;
}

@media (min-width:500px){
    body{
        /* background-color:aquamarine; */
    }

    .text{
        width:auto;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        /* background-color:#290e0e; */
        margin:0;
    }
    /* hauteur de la zone de texte de présentation */
    .text p{
        
        font-size:25px
    }

    /* zone des coordonnées */
    .info{
        width:30%;
        height:auto;
        margin:0;
    }

    div{
        padding:10px;
    }

    address div, .info .centragey{
        padding:0;
    }

    .laptop{
        margin:0;
        height:100%;
        display:flex;
    }

    h1{
        font-size:35px;
        height:100%;
        /* margin-top:auto;
        margin-bottom:auto; */
        display:flex;
        align-items:center;
        padding-bottom: 20px;
    }

    section{
        width:60%;
    }

}

section{
    /* padding:20px; */
}
